.examsContainer {
  margin-left: 290px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.examsCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examsCard {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.examsPhoto {
  width: 100%;
}

.examsNitro {
  padding: 10px;
}

.examsh1 {
  font-size: 24px;
  margin: 0;
}

.examsh3 {
  font-size: 18px;
  margin: 5px 0;
}

.examsh4 {
  font-size: 16px;
}
.examsButtonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.examsButton {
  background-color: #007bff;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.examsButton:hover {
  background-color: #0056b3;
}
