.examsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 10px;
}

.examsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.examsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.examsCard:hover {
  transform: scale(1.05);
}

.examsPhoto {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.examsNitro {
  padding: 20px;
  text-align: center;
}

.examsh1 {
  font-size: 20px;
  margin: 10px 0;
}

.examsh3 {
  font-size: 16px;
  color: #777;
  margin: 5px 0;
}

.examsh4 {
  font-size: 14px;
  color: #444;
  margin: 10px 0;
}

.examsButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.examsButton:hover {
  background-color: #0056b3;
}
