.header{
    margin-top: -7px;
    height: 100px;
    width: 79rem;
    margin-left: 245px;
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #001529;
    transition: all 0.5s ease;
  }
  .container{
    margin: 0;
    padding: 0;
}